@layout('layouts/main')

@section('content')
  <div class="container grid items-start grid-cols-1 gap-6 mx-auto md:p-4 md:pt-0 md:grid-cols-3">
    @include('partials/dashboard/timetables')
    @include('partials/dashboard/subjects')
  </div>

  <style>
    main {
      justify-content: start !important;
    }
  </style>
@endsection
