<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tabletimes</title>
  @entryPointStyles('app')
</head>
<body class="min-h-screen bg-gradient-to-br from-purple-900 via-blue-800 to-blue-600">
  <main class="container flex flex-col items-center justify-between min-h-screen gap-10 pt-10 mx-auto md:justify-around md:pt-0 md:flex-row">
    @include('partials/home/title')
    @include('partials/home/login')
  </main>
</body>
</html>
