<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.svg">
  <title>Tabletimes</title>
  @entryPointStyles('app')
</head>
<body>
  <div id="app" class="flex flex-col items-center justify-center text-center text-white gap-5">
    <h1 class="text-2xl normal-case">403 Forbidden</h1>
    <p class="text-lg">K provedení této operace nemáte dostatečná práva.</p>
  </div>
</body>
</html>
